@import './reset.scss';
@import './global/variables.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
    min-height: 100vh;
    font: var(--font-s);
    color: var(--primary-color);
    background-color: var(--bg-color);
}
