@import './reset.scss';
@import './variables/globals.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
    min-height: 100vh;
    font: var(--font-s);
    color: var(--primary-color);
    background-color: var(--bg-color);
}

.content {
    display: flex;
}

.page {
    flex: 1 1 auto;
    padding: 20px;
}
