.Button {
    cursor: pointer;
    border-radius: 12px;
    padding: 16px;
}

.primary {
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

.inverted_primary {
    color: var(--bg-color);
    background-color: var(--secondary-color);
}

.square {
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.s {
    width: 20px;
    height: 20px;
}

.square.m {
    width: 40px;
    height: 40px;
}

.square.xl {
    width: 60px;
    height: 60px;
}
